<%# ログインリンク（登録ページにいるとき表示） %>
<%- if controller_name != 'sessions' %>
  <p><%= link_to "Log in", new_session_path(resource_name) %></p>
<% end %>

<div class="flex justify-between mt-2">
<%# 新規登録リンク（ログインページにいるとき表示） %>
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p><%= link_to t('devise.registrations.new.sign_up'), new_registration_path(resource_name), class: "text-primary hover:underline" %></p>
<% end %>

<%# パスワードリセットリンク %>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p><%= link_to t('devise.passwords.new.forgot_your_password'), new_password_path(resource_name), class: "text-ink-muted hover:underline" %></p>
<% end %>

<%# メール確認リンク %>
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <p><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></p>
<% end %>

<%# アカウントロック解除リンク %>
<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <p><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></p>
<% end %>

<%# OmniAuth（LINE等） %>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <p><%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %></p>
  <% end %>
<% end %>
