<%= content_for(:title, t('.title', default: APP_NAME)) %>
<%= render "devise/shared/auth_wrapper" do %>
<h2 class="text-2xl font-bold mb-6 text-center">
  <%= t('devise.sessions.new.sign_in') %>
</h2>

<!-- <div class="flex items-center justify-center mt-0 md:mt-10 px-0 md:px-4">
 <div class="card w-full max-w-lg auth-bg rounded-none shadow-none md:shadow-xl md:rounded-4xl p-8 flex items-center justify-center flex-col space-y-8"> -->

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class= "mb-4">
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email, 
           autofocus: true, 
           autocomplete: "email",
           class:"input input-bordered w-full bg-base-200 focus:bg-base-100 rounded-xl" %></p>
  </div>

  <div class="mb-4">
    <p><%= f.label :password %></p>
    <p><%= f.password_field :password, 
           autocomplete: "current-password",
           class: "input input-bordered w-full bg-base-200 focus:bg-base-100 rounded-xl" %></p>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class= "flex items-center gap-2 mb-4">
      <p><%= f.check_box :remember_me, class: "checkbox checkbox-sm" %></p>
      <p><%= f.label :remember_me %></p>
    </div>
  <% end %>

  <div class="mt-6">
    <%= f.submit t('devise.sessions.new.sign_in'), class: "btn btn-primary w-full rounded-xl" %>
  </div>
<% end %>

<div class="divider text-sm text-base-content/50">または</div>

<%= render "devise/shared/links" %>
<% end %>