<%= content_for(:title, t('.title', default: APP_NAME)) %>
<div class="flex-grow px-2 sm:px-6 md:px-10">
   <div class="max-w-3xl mx-auto pt-2 pb-6 sm:pt-6 md:px-0">
  <!--<div class="max-w-3xl mx-auto md:px-0 pt-6 pb-12"> -->
    <h1 class="font-bold font-title text-lg md:text-4xl sm:text-2xl text-center font-cream-500 mb-6">
    My Journal
    </h1>

      <!-- <div class="actions mb-4">
    <%= link_to "日記を書く", new_journal_path(posted_date:Date.current), class:"btn btn-primary" %>
    </div> -->
      <% if@journals.any? %>
        <%# 日記一覧をループ %>
        <% @journals.each do |journal| %>
          <%#　1件ずつ枠で囲む  %>
          <div class="text-right">
          <%= button_to "削除",
              journal_path(journal),
              method: :delete,
              form: {data: {turbo_confirm:"このジャーナルを削除しますか？"}},
              class: "text-sm text-center hover:opacity-70"
          %>
          </div>

          <%= link_to journal_path(journal), class:"block border border-cream-300 bg-white rounded-lg px-2 py-1 sm:px-4 py-3" do %>
          
          <p class="font-bold text-cream-500 mb-3">
          <%= journal.posted_date.strftime("%Y/%m/%d") %>
          </p>

          <p class="mb-3 line-clamp-2">
              <%= journal.journal_correction&.rewritten_text || journal.body %>
          </p>
          <% end %>
        <% end %>
      <% else %>
      <div role="alert" class="alert alert-info">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>まだジャーナリングがありません。最初のジャーナルを書いてみましょう！</span>
      </div>
      <% end %>
    </div>
  </div>
</div>