<%= content_for(:title, t('.title', default: APP_NAME)) %>
<div class="flex-grow px-2 sm:px-6 md:px-10">
   <div class="max-w-4xl mx-auto pt-2 pb-6 sm:pt-6 md:px-0">
  <!--<div class="max-w-3xl mx-auto md:px-0 pt-6 pb-12"> -->
    <%# ページタイトル %>
    <h1 class="font-sans font-semibold text-lg md:text-4xl sm:text-2xl text-center mb-6">
      <%= t('.title') %>
    </h1>

  <%# 元の文章（日本語でもそのまま表示） %>
  <%# スマホ：折りたたみ表示 %>
    <div class="font-semibold mb-2"><%= @journal.posted_date.strftime("%Y/%m/%d") %></div>
    <div class="md:hidden collapse collapse-arrow border border-cream-300 bg-forest-100 rounded-2xl mb-4">
      <input type="checkbox" />
      <h2 class="collapse-title font-semibold pr-10">元の文章を表示</h2>
      <div class="collapse-content">
        <div class="border border-cream-300 bg-white rounded-2xl p-4">
          <p>
            <%= @journal_correction&.original_text %>
          </p>
        </div>
      </div>
    </div>
  <%# md以上：通常表示 %>
      <div class="hidden md:block border border-cream-300 bg-forest-100 rounded-2xl p-4 mb-4">
      <h2 class="font-semibold mb-2">元の文章 </h2>
        <div class="border border-cream-300 bg-white rounded-2xl p-4 mb-2">
        <p>
          <%= @journal_correction&.original_text %>
        </p>
        </div>
    </div>
  
    <% if @journal_correction.present? %>
      <%= render "shared/mistakes_list", mistakes: @mistakes, show_original_text: true, journal: @journal %>
    <% end %>

    <%# 添削後の英文(全文) %>
    <!--<div class="border border-cream-300 bg-forest-100 rounded-2xl p-4 mb-4">
      <div class="flex items-center gap-2">
        <h2 class="font-semibold mb-3">添削後の文章</h2>
        <span class="badge badge-soft badge-success text-white mb-3 p-3">
        添削トーン：<%= t("activerecord.attributes.journal.tones.#{@journal.tone}") %></span>
      </div>
        <div class="border border-cream-300 bg-white rounded-2xl p-4 mb-2">
          <p>  
          <%= @journal_correction&.rewritten_text %>
          </p>
        </div>
    </div>

    <%# 個別の指摘リストを表示 %>
    <% if @mistakes.present? %>
      <div class="border border-cream-300 bg-forest-100 rounded-2xl p-4 mb-4">
          <h2 class="font-semibold mb-3">今回の学び（<%= @mistakes.size %>件）</h2>

          <div class="border border-gray-300 bg-white rounded-2xl p-4 mb-2">
            <ol class="list-decimal list-inside">
            <% @mistakes.each do |mistake| %>
              <li class="mb-4">
              <span class="font-semibold">
              <%= mistake_type_label(mistake.mistake_type) %></span>
              <p class="text-base font-normal">  【元の文章】: <%= mistake.original_text %></p>
              <p class="text-base font-normal">  【添削後】: <%= mistake.corrected_text %></p>
              <p class="text-sm text-gray-600 font-normal">  ポイント: <%= mistake.explanation %></p>

              </li>
          <% end %>
            </ol>
          </div>
      </div>
    <% else %>
      <div class="alert alert-success mb-4">
        <span>🎉 間違いは見つかりませんでした！</span>
      </div>
    <% end %>

    <%# strengths に データがある場合のみ「英文の傾向」ブロックを表示 %>
    <% if @journal_correction&.strengths.present? %>

      <%# 外側のカード %>
      <div class="border border-cream-300 bg-forest-100 rounded-2xl p-4 mb-4">
        <h3 class="font-semibold text-base mb-2">英文の傾向</h3>
        
  
        <div class="border border-gray-300 bg-white rounded-2xl p-4 mb-2">
          <div class="mb-2">  
            <p class="font-semibold">良い点</p>
              <% (@journal_correction.strengths || []).each do |strength|  %>
              <p>【強み】<%= strength["point"] %></p>
              <p>【元の文章】<%= strength["evidence"] %></p>
              <p>【何が良かったか】<%= strength["why_it_works"] %></p>
              <% end %>
          </div>

            

          <div class="mb-2">  
            <p class="font-semibold">間違いパターン</p>
            <% (@journal_correction.mistake_patterns || []).each do |pattern| %>
              <div class="mb-2">
              <p>【パターン】<%= pattern["point"] %></p>
              <p>【元の文章】<%= pattern["evidence"] %></p>
              <p>【説明】<%= pattern["explanation"] %></p>
              </div>
            <% end %>
          </div>
  

          <p class="font-semibold">アドバイス</p>
          <p><%= @journal_correction["advice"] %></p>
        </div>
      </div>
    <% end %> -->
     

    <div class="flex mt-5 gap-5">
    <%= link_to '戻る' , journals_path, class:"btn btn-primary flex-1" %>
    <%= button_to "このジャーナルを削除",
        journal_path(@journal), method: :delete, form: { data: { turbo_confirm: "このジャーナルを削除しますか?"}}, class: "btn btn-error" %>
    </div>

  </div>
</div>
