<%= content_for(:title, t('.title', default: APP_NAME)) %>
<main class="flex-grow px-10">

<div class="max-w-3xl mx-auto md:px-0">
  
  <%# ページタイトル %>
  <h1 class="font-sans font-bold text-4xl text-center py-5">
    <%= t('.title') %>
  </h1>

    <%# 元の文章（日本語でもそのまま表示） %>
  <div class="card bg-forest-100 mb-4">
    <div class="card-body">
      <h2 class="card-title">元の文章</h2>
      <div class="border border-gray-300 bg-white rounded-2xl p-5">
        <%= @overall&.original_text %>
      </div>
    </div>
  </div>

  
  <%# 添削後の英文 %>
  <div class="card bg-forest-100 mb-4">
    <div class="card-body">
      <h2 class="card-title">添削後の文章</h2>
      <div class="border border-gray-300 bg-white rounded-2xl p-5">
        <%= @overall&.corrected_text %>
      </div>
    </div>
  </div>

  <%# 個別の指摘リストを表示 %>
  <% if @mistakes.present? %>
    <div class="card bg-forest-100 mb-4">
      <div class="card-body">
        <h2 class="card-title mb-3">今回の学び（<%= @mistakes.size %>件）</h2>

        <div class="border border-gray-300 bg-white rounded-2xl p-5 mb-4">
        <!--<% @mistakes.each do |mistake| %>

            <%# 間違いの種類バッジ %>
            <span class="badge badge-outline badge-sm mb-2">
              <%= mistake.mistake_type %>
            </span>

            <%# 元の表現 → 修正後 %>
            <p>
              <span class="line-through text-error"><%= mistake.original_text %></span>
            </p>
              <p>→
              <span class="font-bold text-success"><%= mistake.corrected_text %></span>
              </p>

            <%# 日本語説明 %>
            <p class="text-sm mt-1"><%= mistake.explanation %></p>
        <% end %> -->
          <ol class="list-decimal list-inside">
          <% @mistakes.each do |mistake| %>
          <li>
          <div class="mb-4">
          <p class="font-semibold">### <%= mistake.mistake_type %></p>
          <p class="text-base">  【元の文章】: <%= mistake.original_text %></p>
          <p class="text-base">  【添削後】: <%= mistake.corrected_text %></p>
          <p class="text-sm text-gray-600">  ポイント: <%= mistake.explanation %></p>
        </div>
          </li>
         <% end %>
         </ol>
         </div>
      </div>
    </div>
  <% else %>
    <div class="alert alert-success mb-4">
      <span>🎉 間違いは見つかりませんでした！</span>
    </div>
  <% end %>


  <div class="flex mt-5 gap-5">
  <%= link_to '戻る' , journals_path, class:"btn btn-primary flex-1" %>
  <%= button_to "このジャーナルを削除",
      journal_path(@journal), method: :delete, form: { data: { turbo_confirm: "このジャーナルを削除しますか?"}}, class: "btn btn-error" %>
  </div>

</div>
</main>
