<%= content_for(:title, t('.title', default: APP_NAME)) %>
<div class="flex-grow px-2 sm:px-6 md:px-10">
  <div class="max-w-4xl mx-auto pt-2 pb-6 sm:pt-6 md:px-0">
    
    <h1 class="font-sans font-semibold text-lg md:text-4xl sm:text-2xl text-center mb-6">
      <%= t('.title') %>
    </h1>
    
    <div class="flex justify-between mb-1">
      <% if @previous_journal_correction.present? %>
        <%= link_to "前の日記", @previous_journal_correction, class:"btn btn-sm border-forest-500 text-forest-500 hover:bg-forest-500 hover:text-white" %>
      <% end %>

      <% if @next_journal_correction.present? %>
        <%= link_to "次の日記", @next_journal_correction, class:"btn btn-sm border-forest-500 text-forest-500 hover:bg-forest-500 hover:text-white" %>
      <% end %>
  
    </div>
    <div class="font-semibold mb-2"> <%= @journal_correction.journal.posted_date.strftime("%Y/%m/%d") %></div>
    <%= render "shared/mistakes_list", mistakes: @journal_correction.mistakes, show_original_text: false %>
    <!--<div class="font-semibold mb-2"> <%= @journal_correction.journal.posted_date.strftime("%Y/%m/%d") %> </div>
    <div class="border border-cream-300 bg-forest-100 rounded-2xl p-4 mb-4">
      <div class="flex items-center gap-2">
        <h2 class="font-semibold mb-3">添削後の文章</h2>
        <span class="badge badge-soft badge-success text-white mb-3 p-3">
        添削トーン：<%= t("activerecord.attributes.journal.tones.#{@journal_correction.journal.tone}")  %>
        </span>
      </div>
        <div class="border border-cream-300 bg-white rounded-2xl p-4 mb-2">
          <p>
          <%= @journal_correction.rewritten_text %>
          </p>
        </div>
    </div>

    <% if @journal_correction.mistakes.present? %>
      <div class="border border-cream-300 bg-forest-100 rounded-2xl p-4 mb-4">
        <h2 class="font-semibold mb-3">今回の学び(<%= @journal_correction.mistakes.size %>件)</h2>

        <div class="border border-gray-300 bg-white rounded-2xl p-4 mb-2">
          <ol class="list-decimal list-inside">
            <% @journal_correction.mistakes.each do |mistake| %>
              <li class="mb-4">
                <span class="font-semibold">
                  <%= mistake_type_label(mistake.mistake_type) %>
                </span>

                <p class="text-base font-normal">【添削後】：<%= mistake.corrected_text %></p>
                <p class="text-base font-normal">ポイント： <%= mistake.explanation %></p>
              </li>
            <% end %>
          </ol>
        </div>
      </div>
    <% else %>
      <div class="alert alert-success mb-4">
        <span>🎉 間違いは見つかりませんでした！</span>
      </div>
    <% end %>

    <%# 外側のカード %>
    <% if @journal_correction&.strengths.present? %>
      <div class="border border-cream-300 bg-forest-100 rounded-2xl p-4 mb-2">
        <h3 class="font-semibold text-base mb-2">英文の傾向</h3> -->
       

        <%# 内側の白部分 %>
          <!-- <div class="mb-2">
          <p class="badge badge-success text-white p-3 mb-2">良い点</p>
            
            <% (@journal_correction.strengths || []).each do |strength| %>
              <div class="bg-white rounded-2xl p-4 mb-2">
                <p class="font-semibold"><%= strength["point"] %></p>
                <p>【元の文章】<%= strength["evidence"] %></p>
                <p>【良かった点】<%= strength["why_it_works"] %></p>
              </div>
            <% end %>
            
          </div>

          <hr class="border-forest-300 mb-2">
          
          <div class="mb-2">
          <p class="badge badge-error p-3 mb-2">間違いパターン</p>
            
            <% (@journal_correction.mistake_patterns || []).each do |pattern| %> 
              <div class="bg-white rounded-2xl p-3 mb-2">
                <p class="font-semibold"><%= pattern["point"] %></p>
                <p>【元の文章】<%= pattern["evidence"] %></p>
                <p>【説明】<%= pattern["explanation"] %></p>
              </div>
            <% end %>
          </div>
          
          <hr class="border-forest-300 mb-2">

          <div class="mb-2">
            <p class="badge badge-warning p-3 mb-2">アドバイス</p>
            <div class="bg-white rounded-2xl p-3 mb-2">
              <%= @journal_correction["advice"] %>
            </div>
          </div>

     
      </div>
    <% end %> -->

  </div>
</div>
